<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <label>Name*</label>
    <input [readonly]="type === DialogType.EDIT" class="input-value" type="text" nbInput fullWidth placeholder="Name" [(ngModel)]="data.name">
    <label>Description*</label>
    <input class="input-value" type="text" nbInput fullWidth placeholder="Description" [(ngModel)]="data.description">
    <label>Service router*</label>
    <nb-select class="input-value" (selectedChange)="selectRouterId($event)" [selected]="selectedRouterIndex" fullWidth>
      <nb-option *ngFor="let serviceRouter of serviceRouters" [value]="serviceRouter.id.toString()">{{ serviceRouter.name }}</nb-option>
    </nb-select>
    <label>Operator service*</label>
    <nb-select class="input-value" (selectedChange)="selectedService($event)" [selected]="selectedServiceIndex" fullWidth>
      <nb-option *ngFor="let operatorService of services" [value]="operatorService">{{ operatorService }}</nb-option>
    </nb-select>
    <label>Country code*</label>
    <input class="input-value" nbInput fullWidth placeholder="Country code" [(ngModel)]="data.countryCode">
    <label>Upload html</label>
    <input class="input-value" type="file" nbInput fullWidth name="filename" (change)="fileUploaded($event)">
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="basic" (click)="dismiss()">Cancel</button>
    <button *ngIf="type === DialogType.EDIT" nbButton hero status="primary" (click)="update()">Update</button>
    <button *ngIf="type === DialogType.CREATE" nbButton hero status="success" (click)="create()">Add</button>
  </nb-card-footer>
</nb-card>
