<nb-card>
  <nb-card-header class="header">
    Create new Router
    <i class="nb-plus" (click)="create(null)"></i>
  </nb-card-header>
  <nb-card-body>
    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data[customColumn]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
      </ng-container>

      <ng-container [nbTreeGridColumnDef]="actionColumn">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
          {{actionColumn}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <div style="display: flex">
            <i *ngIf="row.data.add" class="nb-plus" (click)="create(row); $event.stopPropagation()"></i>
            <i *ngIf="row.data.edit" class="nb-edit" (click)="update(row); $event.stopPropagation()"></i>
            <i *ngIf="row.data.delete" class="nb-trash" (click)="delete(row); $event.stopPropagation()"></i>
          </div>
        </td>
      </ng-container>

    </table>
  </nb-card-body>
</nb-card>
<div *ngIf="hasMore" class="load-more-btn">
  <button nbButton status="primary" (click)="loadMore()">Load More</button>
</div>
